* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

}

:root {
  --base-color:194;

  --bg-color: #121214;
  --bg-primary-color-light:hsla(var(--base-color), 100%, 63%, 0.13);
  --primary-color:hsl(var(--base-color), 100%, 63%);

  --text-color: #fff;

  font-size: 62.5%;
}


body {
  font-family: 'Roboto', sans-serif;

  background: var(--bg-color);
  color :var(--text-color);

  min-height: 100vh;

  display: grid;
}

button {
  background: transparent;
  border: none;

  cursor: pointer;
}

.hide {
  display: none;
}

.play svg path,
.pause svg path,
.sound-on svg path {
  fill: var(--primary-color);
}

main {
  justify-self: center;
  align-self: end;
}

#timer{

  display: flex;
  
  font-size: clamp(4rem, 4rem + 8vw , 8.8rem);

  margin-bottom: 1.6rem;
}

button svg {
  width: clamp(3.2rem, 2rem + 9vw , 6.4rem);
}

#controls {
  background: var(--bg-primary-color-light);
  border-radius: 9999px;

  display: flex;
  align-items: center;
  justify-content: center;
  gap: 3.2rem;

  width: clamp(10rem, 10rem + 20vw , 22.8rem);
  height: clamp(8rem, 5rem + 10vw, 10.8rem);
}

footer {
  justify-self: end;
  align-self: end;

  padding: 0 4rem 3.2rem 0;
}