
/* font-family: 'Inter', sans-serif;
font-family: 'Open Sans', sans-serif; */
*{
  margin: 0;
}
body {
  font-family: 'Open Sans', sans-serif;
  text-align: center;
  

}
#hero {
  width: 37rem;
  margin: 0 auto 72px;
}

#hero img {
  margin-bottom: 72px;
}

h1 {
  font-family: 'Inter', sans-serif;
  font-size: 3.0625rem;
  line-height: 3.5rem;
  font-weight: normal;
  margin-bottom: 32px;
}

h1 span{
  font-weight: bold;
}


span, a {
  color:#FF9900;
}

p, footer{
  color:#7D7987;
  font-size: 0.875rem;
  line-height: 1.75rem;
}

a {
  color:#FF9900;
  text-decoration: none;
}
/*Dentro do footer vai pegar o 'a' que anterior a ele tem o a*/
footer #line{
  width: 568px;
  height: 0px;
  margin: 0 auto 8px;
  border: 1px solid #ECEFF2 ;
}

footer a + a {
  margin-left: 28px;
}

#balls {
  position:fixed;
  bottom:0px;
  right: 0px;
}